<div class="content">
    <div class="content-bg"></div>

    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <em class="del"></em>
            <span>Услуги</span>
        </div>

        <h1 class="content-title">Услуги</h1>

        <div class="info-list">
            <a class="info-one">
                <div class="info-one__img" style="background-image: url(tmp/sevice.jpg);"></div>
                <div class="info-one-bottom">
                    <div class="info-one__title">
                        <span>Проведение семинаров для проектных организаций</span>
                    </div>
                    <div class="info-one__descr">Комапния ООО ПК "Теплый стан" осуществляет ознакомительные, обучающие семинары для специалистов проектных организаций, проектных институтов.</div>
                </div>
            </a>
            <a class="info-one">
                <div class="info-one__img" style="background-image: url(tmp/sevice2.jpg);"></div>
                <div class="info-one-bottom">
                    <div class="info-one__title">
                        <span>Изготовление отводов </span>
                    </div>
                    <div class="info-one__descr">Все наши изделия соответствуют нормативно-технической документации (ГОСТ, ОСТ, ТУ, СТО ЦКТИ). Возможно изготовление по чертежам заказчика.</div>
                </div>
            </a>
            <a class="info-one">
                <div class="info-one__img" style="background-image: url(tmp/sevice3.jpg);"></div>
                <div class="info-one-bottom">
                    <div class="info-one__title">
                        <span>Монтаж теплоизоляции</span>
                    </div>
                    <div class="info-one__descr">Компания ПК «Теплый стан» готова предложить теплоизоляцию, широко применяемую в жилищном и промышленном строительстве. </div>
                </div>
            </a>
            <a class="info-one">
                <div class="info-one__img" style="background-image: url(tmp/sevice4.jpg);"></div>
                <div class="info-one-bottom">
                    <div class="info-one__title">
                        <span>Проектирование и изготовление термочехлов</span>
                    </div>
                    <div class="info-one__descr">Термочехлы производятся из специальных стеклотканей и соответствующих теплоизоляционных материалов (каолиновая вата, вспененный каучук).</div>
                </div>
            </a>
        </div>
    </div>


</div>