<div class="content">
    <div class="content-bg content-bg--card"></div>

    <div class="wrap service">
        
        <div class="card-img">
            <div class="swiper-container gallery-top">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="tmp/card-slider.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="tmp/card-slider.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="tmp/card-slider.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="swiper-container gallery-prev">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="tmp/card-slider-preview.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="tmp/card-slider-preview.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="tmp/card-slider-preview.jpg" alt="">
                    </div>
                </div>
            </div>

        </div>

        <div class="card-content">
            
            <a href="#" class="card-back">Назад к списку</a>

            <h1 class="content-title content-title--card">Paroc Wired Mat 80/100 AluCoat базальтовый прошивной мат </h1>

            <div class="card-descr">Базальтовая теплоизоляция Paroc Wired Mat 80 AluCoat прошивной базальтовый мат (теплоизоляция воздуховодов) ТУ 5762-002-48956966-2013</div>

            <div class="card-price">Цена от 423 руб/кв. м</div>

            <div class="card-quant">В наличии</div>
            <div class="card-botton">Подробнее условия заказа уточняйте по номеру 286-35-73 или по почте tstan@tstan.ru</div>

        </div>

    </div>

        <div class="wrap card">
            <div class="tabs tabs--card">
                <div class="tab-list tab-list--card">
                    <div class="tab-list__one tab-list__one--card active">
                        Описание
                    </div>
                    <div class="tab-list__one tab-list__one--card">
                        Упаковка
                    </div>
                    <div class="tab-list__one tab-list__one--card">
                        Свойства
                    </div>
                    <div class="tab-list__one tab-list__one--card">
                        Применение
                    </div>
                    <div class="tab-list__one tab-list__one--card">
                        Инструкции
                    </div>
                    <div class="tab-list__one tab-list__one--card">
                        Программа расчета
                    </div>
                    <div class="tab-list__one tab-list__one--card">
                        Прайс
                    </div>
                </div>
                <div class="tab-wrap tab-wrap--card">
                    <div class="tab-one open">
                        <h2>Описание товара</h2>
                        <p>Прошивной базальтовый мат PAROC / ПАРОК из каменной ваты, оснащенный оцинкованной стальной сеткой и алюминиевой фольгой на стекловолокнистой основе, используется для изолирования цилиндрических, конусных и плоских поверхностей, а также вентканалов в качестве теплоизоляции и пожарной изоляции. Поставляется по отдельному заказу также с сеткой из других материалов - из черного железа, нержавеющей или кислоустойчивой стали, а также с другими материалами покрытия.</p>
                        <p>Прошивные маты, армированные сеткой. Между сеткой и матом - слой алюминиевой фольги, усиленной стекловолокнистой сеткой. Применение: теплоизоляция воздуховодов, газоходов, котельных, теплообменников. КМ1 (Г1, В1, Д1, Т1).</p>
                        <h3>Технические характеристики базальтовой теплоизоляции Paroc</h3>
                        <table class="table">
                            <tr>
                                <th>Наименование</th>
                                <th>Значение</th>
                            </tr>
                            <tr>
                                <td>Удельная плотность: </td>
                                <td>80 кг/м3</td>
                            </tr>
                            <tr>
                                <td>Ширина х длина:</td>
                                <td>1000 х длина мм (в зависимости от толщины)</td>
                            </tr>
                            <tr>
                                <td>Толщина:</td>
                                <td>30 - 120 мм</td>
                            </tr>
                            <tr>
                                <td>Пожарная классификация по ГОСТ 30244, НПБ 244-97</td>
                                <td>Слабогорючие (трудносгораемые по СТ СЭВ 2437-80) - Г1</td>
                            </tr>
                            <tr>
                                <td>Максимальная рабочая температура:</td>
                                <td>+2500С</td>
                            </tr>
                            <tr>
                                <td>Теплопроводность</td>
                                <td>
                                    <table>
                                        <tr>
                                            <td>10°C, λ10</td>
                                            <td>0,035 W/mK</td>
                                        </tr>
                                        <tr>
                                            <td>25°C, λ25</td>
                                            <td>0,037 W/mK</td>
                                        </tr>
                                        <tr>
                                            <td>50°C, λ50</td>
                                            <td>0,040* W/mK</td>
                                        </tr>
                                        <tr>
                                            <td>100°C, λ100 </td>
                                            <td>0,047* W/mK</td>
                                        </tr>
                                        <tr>
                                            <td>125°C, λ125 </td>
                                            <td>0,049 W/mK</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="tab-one">
                        2
                    </div>
                    <div class="tab-one">
                        3
                    </div>
                    <div class="tab-one">
                        4
                    </div>
                    <div class="tab-one">
                        5
                    </div>
                    <div class="tab-one">
                        6
                    </div>
                    <div class="tab-one">
                        7
                    </div>
                </div>
            </div>
            
            <div class="content-bottom">
                <a href="#">Paroc цилиндры</a>
            </div>
        </div>

</div>