<div class="content">
    <div class="content-bg"></div>

    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
        </div>
        
        <h1 class="content-title">Поиск по сайту</h1>
        
        <div class="content-search">
            <form id="search-inn">
                <input type="text" placeholder="Поиск по каталогу" name="search">
                <button></button>
            </form>
            <div class="search-result">Найдено совпадений: 10</div>
        </div>

        <div class="results">
            <div class="result">
                <a href="#" class="result__title">Изготовление и поставка съемной теплоизоляции термочехлов</a>
                <div class="result__text"><mark>Теплоизоляция</mark> KAIFLEX / КАЙФЛЕКС. ООО ПК "Теплый Стан" является официальным дистрибьютером компании "KAIMANN" на территории Российской Федерации. Компания KAIMANN Gmbh является одним из...</div>
                <div class="result__patch">Главная / Услуги</div>
            </div>
            <div class="result">
                <a href="#" class="result__title">Изготовление и поставка съемной <mark>теплоизоляции</mark> термочехлов</a>
                <div class="result__text"><mark>Теплоизоляция</mark> KAIFLEX / КАЙФЛЕКС. ООО ПК "Теплый Стан" является официальным дистрибьютером компании "KAIMANN" на территории Российской Федерации. Компания KAIMANN Gmbh является одним из...</div>
                <div class="result__patch">Главная / Услуги</div>
            </div>
            <div class="result">
                <a href="#" class="result__title">Изготовление и поставка съемной теплоизоляции термочехлов</a>
                <div class="result__text"><mark>Теплоизоляция</mark> KAIFLEX / КАЙФЛЕКС. ООО ПК "Теплый Стан" является официальным дистрибьютером компании "KAIMANN" на территории Российской Федерации. Компания KAIMANN Gmbh является одним из...</div>
                <div class="result__patch">Главная / Услуги</div>
            </div>
            <div class="result">
                <a href="#" class="result__title">Изготовление и поставка съемной теплоизоляции термочехлов</a>
                <div class="result__text"><mark>Теплоизоляция</mark> KAIFLEX / КАЙФЛЕКС. ООО ПК "Теплый Стан" является официальным дистрибьютером компании "KAIMANN" на территории Российской Федерации. Компания KAIMANN Gmbh является одним из...</div>
                <div class="result__patch">Главная / Услуги</div>
            </div>
            <div class="result">
                <a href="#" class="result__title">Изготовление и поставка съемной теплоизоляции термочехлов</a>
                <div class="result__text"><mark>Теплоизоляция</mark> KAIFLEX / КАЙФЛЕКС. ООО ПК "Теплый Стан" является официальным дистрибьютером компании "KAIMANN" на территории Российской Федерации. Компания KAIMANN Gmbh является одним из...</div>
                <div class="result__patch">Главная / Услуги</div>
            </div>
            <div class="result">
                <a href="#" class="result__title">Изготовление и поставка съемной теплоизоляции термочехлов</a>
                <div class="result__text"><mark>Теплоизоляция</mark> KAIFLEX / КАЙФЛЕКС. ООО ПК "Теплый Стан" является официальным дистрибьютером компании "KAIMANN" на территории Российской Федерации. Компания KAIMANN Gmbh является одним из...</div>
                <div class="result__patch">Главная / Услуги</div>
            </div>
            
        </div>
    </div>


</div>