<div class="content">
    <div class="content-bg"></div>

    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <em class="del"></em>
            <span>Наши объекты</span>
        </div>
        
            <em class="del"></em>
        <h1 class="content-title">Инструкции по монтажу</h1>
        
        <div class="info-one-inn">
            <p>Торговая марка «Теплый Стан» известна строительным организациям и промышленным предприятиям с 1999 года. 
За это время компания накопила значительный опыт и мощный технический потенциал. </p>
<p>Сегодня ООО Промышленная компания «Теплый Стан» предлагает и выполняет комплекс услуг, связанных с технической и промышленной теплоизоляцией.</p>
        </div>

        <div class="objects wrap">
            <div class="object">
                <div class="object-title"><i></i>Монтаж теплоизоляции Armaflex</div>
                <div class="object-hidden">
                    <div class="object-descr clearfix">
                        <img src="tmp/object.jpg" alt="">
                        <p>ООО ПК "Теплый Стан" произвел поставку и монтаж термочехлов на установку комплексной подготовки газа в г. Новый Уренгой. Термочехлы были смонтированы на запорную арматуру для защиты от перемерзания.<br>
                        Теплоноситель: газ<br>
                        Температура теплоносителя: от -50 С до +30С<br>
                        Температура окружающей среды от -50С до +30С<br>
                        Теплоизоляция: каменная вата<br>
                        Оболочка: Е-стеклоткань с силиконовым покрытием </p>
                    </div>
                    
                    <div class="object-gallery">
                        
                        <div class="object-gallery__title">Фото объекта:</div>

                        <div class="object-slider swiper-container">
                            <div class="swiper-wrapper">
                                <a href="tmp/slide2.jpg" title="Термочехол-съемная теплоизоляция для запорной арматуры" class="swiper-slide">
                                    <img src="tmp/object-slide2.jpg" alt="">
                                </a>
                                <a href="tmp/slide3.jpg" title="Заголовок 2" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide.jpg" title="Заголовок 3" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide2.jpg" title="Заголовок 4" class="swiper-slide">
                                    <img src="tmp/object-slide2.jpg" alt="">
                                </a>
                                <a href="tmp/slide3.jpg" title="Заголовок 5" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="object">
                <div class="object-title"><i></i>Монтаж теплоизоляции Armaflex</div>
                <div class="object-hidden">
                    <div class="object-descr clearfix">
                        <img src="tmp/object.jpg" alt="">
                        <p>ООО ПК "Теплый Стан" произвел поставку и монтаж термочехлов на установку комплексной подготовки газа в г. Новый Уренгой. Термочехлы были смонтированы на запорную арматуру для защиты от перемерзания.<br>
                        Теплоноситель: газ<br>
                        Температура теплоносителя: от -50 С до +30С<br>
                        Температура окружающей среды от -50С до +30С<br>
                        Теплоизоляция: каменная вата<br>
                        Оболочка: Е-стеклоткань с силиконовым покрытием </p>
                    </div>
                    
                    <div class="object-gallery">
                        
                        <div class="object-gallery__title">Фото объекта:</div>

                        <div class="object-slider swiper-container">
                            <div class="swiper-wrapper">
                                <a href="tmp/slide.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide2.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide2.jpg" alt="">
                                </a>
                                <a href="tmp/slide3.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide2.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide2.jpg" alt="">
                                </a>
                                <a href="tmp/slide3.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide2.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide2.jpg" alt="">
                                </a>
                                <a href="tmp/slide3.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                                <a href="tmp/slide2.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide2.jpg" alt="">
                                </a>
                                <a href="tmp/slide3.jpg" class="swiper-slide">
                                    <img src="tmp/object-slide.jpg" alt="">
                                </a>
                            </div>
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>