<div class="content">
    <div class="content-bg"></div>

    <div class="wrap service">

        <div class="service-menu">
            <a href="#">Изготовление и поставка съемной теплоизоляции термочехлов</a>
            <a href="#">Монтаж теплоизоляции</a>
            <a href="#">Оптовые поставки теплоизоляции</a>
            <a class="current" href="#">Проведение семинаров для проектных организаций</a>
        </div>

        <div class="service-content">
            <div class="breadcrumbs">
                <a href="#">Главная</a>
                <em class="del"></em>
                <a href="#"> Услуги</a>
                <em class="del"></em>
                <span>Проведение семинаров</span>
            </div>
            <h1 class="content-title">Проведение семинаров для проектных организаций</h1>

            <p>Компания ООО ПК "Теплый стан" проводит ознакомительные, обучающие семинары для специалистов проектных организаций, проектных институтов, технических специалистов предприятий.</p>

            <p>Предлагаем Вам стать слушателем на одном из организованных нами семинаров по интересующему Вас теплоизоляционному материалу (Paroc, Teplorock, Kaiflex, Aeroflex, Термочехлы).</p>

            <p>Более подробную информацию Вы можете узнать у наших специалистов по телефонам (343)286-35-73 -многоканальный или отправить заявку на e-mail: <a href="#">sklad@tstan.ru</a> или <a href="#">prod3@tstan.ru</a></p>
        </div>

    </div>


</div>