<div class="content">
    <div class="content-bg"></div>

    <div class="wrap">
        <div class="breadcrumbs">
            <a href="#">Главная</a>
            <em class="del"></em>
            <a href="#">Информация</a>
            <em class="del"></em>
            <span>Инструкции по монтажу</span>
        </div>
        
        <h1 class="content-title">Инструкции по монтажу</h1>
        
        <div class="info-one-inn">
            <img src="tmp/info-one.jpg" alt="" class="info-one-inn__main-photo">
            <h2>Компания ПК «Теплый стан» готова предложить  специально подготовленную инструкцию по монтажу теплоизоляции, отводов и термозащитных чехлов.</h2>
            
            <div class="spoler">
                <div class="spoler-title">
                    Строительная изоляция
                </div>
                <div class="spoler-hide">
                    <div class="file-list">
                        <div class="file-one clearfix">
                            <img src="tmp/catalog.jpg" alt="">
                            <div class="file-one__title">
                                <a href="#">Каталог теплоизоляционных материалов pdf</a>, 1313 kb
                            </div>
                            <div class="file-one__descr">
                                Каталог теплоизоляционных материалов строительной изоляции Paroc. Перечень  и технические характеристики.
                            </div>
                        </div>
                        <div class="file-one clearfix">
                            <img src="tmp/catalog.jpg" alt="">
                            <div class="file-one__title">
                                <a href="#">Каталог теплоизоляционных материалов pdf</a>, 1313 kb
                            </div>
                            <div class="file-one__descr">
                                Каталог теплоизоляционных материалов строительной изоляции Paroc. Перечень  и технические характеристики.
                            </div>
                        </div>
                        <div class="file-one clearfix">
                            <img src="tmp/catalog.jpg" alt="">
                            <div class="file-one__title">
                                <a href="#">Каталог теплоизоляционных материалов pdf</a>, 1313 kb
                            </div>
                            <div class="file-one__descr">
                                Каталог теплоизоляционных материалов строительной изоляции Paroc. Перечень  и технические характеристики.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="spoler">
                <div class="spoler-title">
                    Строительная изоляция
                </div>
                <div class="spoler-hide">
                    <div class="file-list">
                        <div class="file-one clearfix">
                            <img src="tmp/catalog.jpg" alt="">
                            <div class="file-one__title">
                                <a href="#">Каталог теплоизоляционных материалов pdf</a>, 1313 kb
                            </div>
                            <div class="file-one__descr">
                                Каталог теплоизоляционных материалов строительной изоляции Paroc. Перечень  и технические характеристики.
                            </div>
                        </div>
                        <div class="file-one clearfix">
                            <img src="tmp/catalog.jpg" alt="">
                            <div class="file-one__title">
                                <a href="#">Каталог теплоизоляционных материалов pdf</a>, 1313 kb
                            </div>
                            <div class="file-one__descr">
                                Каталог теплоизоляционных материалов строительной изоляции Paroc. Перечень  и технические характеристики.
                            </div>
                        </div>
                        <div class="file-one clearfix">
                            <img src="tmp/catalog.jpg" alt="">
                            <div class="file-one__title">
                                <a href="#">Каталог теплоизоляционных материалов pdf</a>, 1313 kb
                            </div>
                            <div class="file-one__descr">
                                Каталог теплоизоляционных материалов строительной изоляции Paroc. Перечень  и технические характеристики.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>