<div class="head-inn">
    <div class="main-head-top">
        <div class="wrap">
            <div class="head-menu">
                <a href="#">О компании</a>
                <a href="#">Продукция</a>
                <a href="#">Услуги</a>
                <a href="#">Наши объекты</a>
                <a href="#">Прайс-лист</a>
                <a href="#">Информация</a>
                <a href="#">Контакты</a>
            </div>
        </div>
    </div>
    <div class="wrap">
        <a href="#" class="head-logo head-logo--inn">
            <video autoplay="autoplay" loop="loop">
                <source src="img/logo-bg_5.mp4" type='video/mp4'>
                <source src="img/logo-bg_5.webm" type='video/webm'>
            </video>
            <img src="img/logo.png" alt="">
        </a>
        <div class="head-right">
            <a href="#" class="head-right__mail">tstan@tstan.ru</a>
            <a href="#" class="head-right__phone"><span>(343)</span> 286-35-73</a>
            <a href="#phone-order" class="head-right__order open-modal"><span>Заказать звонок</span></a>
            <div class="head-search">
                <form id="search">
                    <input type="text" placeholder="Поиск по каталогу" name="search">
                    <button></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="head-inn-bottom">
    <div class="head-inn-bottom__bg"></div>
</div>
<a href="#order" class="order-button open-modal">
    <div class="order-button__text">Оставить заявку</div>
</a>