<div class="main-head">
    <div class="main-head-top">
        <div class="wrap">
            <div class="head-menu">
                <a href="#">О компании</a>
                <a href="#">Продукция</a>
                <a href="#">Услуги</a>
                <a href="#">Наши объекты</a>
                <a href="#">Прайс-лист</a>
                <a href="#">Информация</a>
                <a href="#">Контакты</a>
            </div>
        </div>
    </div>
    <div class="wrap">
        <a href="#" class="head-logo">
            <video autoplay="autoplay" loop="loop">
                <source src="img/logo-bg.mp4" type='video/mp4'>
                <source src="img/logo-bg.webm" type='video/webm'>
            </video>
            <img src="img/logo.png" alt="">
        </a>
        <div class="head-right">
            <a href="#" class="head-right__mail">tstan@tstan.ru</a>
            <a href="#" class="head-right__phone"><span>(343)</span> 286-35-73</a>
            <a href="#phone-order" class="head-right__order open-modal"><span>Заказать звонок</span></a>
            <div class="head-search">
                <form id="search">
                    <input type="text" placeholder="Поиск по каталогу" name="search">
                    <button></button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="top-slider">
    <div class="svg-box">
        <svg viewBox="0 0 1920 1920" version="1.1" xmlns="http://www.w3.org/2000/svg">
                    <circle class="circle" cx="435" cy="95" r="0">
                        <animate attributeName="r" begin="0s" dur="10s" repeatCount="indefinite" from="200" to="1080"/>
                        <animate attributeName="opacity" begin="0s" dur="10s" repeatCount="indefinite" from="1" to="0"/>
                    </circle>
                    <circle class="circle" cx="435" cy="95" r="0">
                        <animate attributeName="r" begin="2.5s" dur="10s" repeatCount="indefinite" from="200" to="1080"/>
                        <animate attributeName="opacity" begin="2.5s" dur="10s" repeatCount="indefinite" from="1" to="0"/>
                    </circle>
                    <circle class="circle" cx="435" cy="95" r="0">
                        <animate attributeName="r" begin="5s" dur="10s" repeatCount="indefinite" from="200" to="1080"/>
                        <animate attributeName="opacity" begin="5s"" dur="10s" repeatCount="indefinite" from="1" to="0"/>
                    </circle>
                    <circle class="circle" cx="435" cy="95" r="0">
                        <animate attributeName="r" begin="7.5s" dur="10s" repeatCount="indefinite" from="200" to="1080"/>
                        <animate attributeName="opacity" begin="7.5s" dur="10s" repeatCount="indefinite" from="1" to="0"/>
                    </circle>
        </svg>
    </div>
    <div class="swiper-wrapper">
        <div class="top-slider-one swiper-slide" style="background-image: url(tmp/slide3.jpg);">
            <div class="slider-overlay">
            </div>
            <div class="top-slider-text">
                18 лет успешной работы в области теплоизоляции!
            </div>
        </div>
        <div class="top-slider-one swiper-slide" style="background-image: url(tmp/slide.jpg);">
            <div class="slider-overlay">
                
            </div>
            <div class="top-slider-text">
                Cобственный склад с большим ассортиментом продукции в наличии
            </div>
        </div>
        <div class="top-slider-one swiper-slide" style="background-image: url(tmp/slide4.jpg);">
            <div class="slider-overlay">
                
            </div>
            <div class="top-slider-text">
                Квалифицированная мотнажная бригада с большим опытом работы
            </div>
        </div>
        <div class="top-slider-one swiper-slide" style="background-image: url(tmp/slide2.jpg);">
            <div class="slider-overlay">
                
            </div>
            <div class="top-slider-text">
                Доставка в любую точку России
            </div>
        </div>
    </div>
    <div class="swiper-pagination"></div>
</div>
<a href="#order" class="order-button open-modal">
    <div class="order-button__text">Оставить заявку</div>
</a>