<div id="overlay">
	<div class="modal" id="order">
		<div class="modal__close"></div>
		<div class="order__inn">
			<div class="order-title">Оставить заявку</div>
			<div class="order-form">
				<form id="order-form">
					<div class="form-line">
						<input type="text" name="name" placeholder="Ф.И.О.">
					</div>
					<div class="form-line">
						<input type="text" name="phone" placeholder="Телефон для связи">
					</div>
					<div class="form-line">
						<textarea name="mesage" placeholder="Сообщение"></textarea>
					</div>
					<div class="form-line">
						<label for=""></label>
						<button type="submit" class="form-send">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal" id="phone-order">
		<div class="modal__close"></div>
		<div class="order__inn">
			<div class="order-title">Заказать звонок</div>
			<div class="order-form">
				<form id="order-phone">
					<div class="form-line">
						<input type="text" name="name" placeholder="Ф.И.О.">
					</div>
					<div class="form-line">
						<input type="text" name="phone" placeholder="Телефон для связи">
					</div>
					<div class="form-line">
						<label for=""></label>
						<button type="submit" class="form-send">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>