@import "../sprite.less";
@import "../mixin.less";
@import "../base.less";


@media screen and (max-width: 1180px) {
    .about {
        padding: 60px 35px;
    }

    .tab-list__one {
        margin: 0 15px;
    }

    .head-logo {
        left: -120px;
    }

    .footer-grid-col--1 {
        width: 260px;
    }

    .footer-grid-col--2 {
        width: 180px;
    }

    .footer-grid-col--3 {
        width: 300px;
    }

    .footer-grid-col--4 {
        width: 220px;
    }

    .footer-grid__menu {
        max-width: 240px;
    }

    .head-right {
        right: 30px;
    }

    .main-service {
        height: 285px;
    }

}