<div class="content">
    <div class="content-bg"></div>

    <div class="wrap service">

        <ul class="catalog-menu">
            <li>
                <a  class="parent" href="#">По маркам</a>
                <a class="current" href="#">Paroc</a>
                <ul class="catalog-submenu">
                    <li><a href="#">Минеральная вата</a></li>
                    <li><a href="#">Цилиндры</a></li>
                    <li><a href="#">Маты</a></li>
                </ul>
            </li>
            <li><a href="#">По назначению</a></li>
            <li><a href="#">По типу материала</a></li>
        </ul>

        <div class="service-content">
            <div class="breadcrumbs">
                <a href="#">Главная</a>
                <em class="del"></em>
                <a href="#">Продукция</a>
                <em class="del"></em>
                <span>По маркам</span>
            </div>
            <h1 class="content-title">Paroc</h1>

            <div class="goods-list">
                <a href="#" class="goods-one">
                    <div class="goods-one__img">
                        <img src="tmp/goods.jpg" alt="">
                    </div>
                    <div class="goods-one__title">
                        Paroc Pro Wired Mat 80/100/130 базальтовая теплоизоляция
                    </div>
                    <div class="goods-one__descr">
                        Прошивной базальтовый мат PAROC / ПАРОК  из каменной ваты, оснащенный армированной стальной сеткой, является одним из лучших материалов, как для теплозащиты, так и в качестве огнезащиты.
                    </div>
                </a>
                <a href="#" class="goods-one">
                    <div class="goods-one__img">
                        <img src="tmp/goods2.jpg" alt="">
                    </div>
                    <div class="goods-one__title">
                        Paroc Wired Mаt 80/100 AL1 огнезащита воздуховодов
                    </div>
                    <div class="goods-one__descr">
                        Прошивной базальтовый мат PAROC / ПАРОК  из каменной ваты, оснащенный армированной стальной сеткой, является одним из лучших материалов, как для теплозащиты, так и в качестве огнезащиты.
                    </div>
                </a>
                <a href="#" class="goods-one">
                    <div class="goods-one__img">
                        <img src="tmp/goods3.jpg" alt="">
                    </div>
                    <div class="goods-one__title">
                        Paroc Wired Mat 80/100 AluCoat базальтовый прошивной мат
                    </div>
                    <div class="goods-one__descr">
                        Прошивные маты, армированные сеткой. Между сеткой и матом - слой алюминиевой фольги, усиленной стекловолокнистой сеткой.
                    </div>
                </a>
                <a href="#" class="goods-one">
                    <div class="goods-one__img">
                        <img src="tmp/goods.jpg" alt="">
                    </div>
                    <div class="goods-one__title">
                        Paroc Pro Wired Mat 80/100/130 базальтовая теплоизоляция
                    </div>
                    <div class="goods-one__descr">
                        Прошивной базальтовый мат PAROC / ПАРОК  из каменной ваты, оснащенный армированной стальной сеткой, является одним из лучших материалов, как для теплозащиты, так и в качестве огнезащиты.
                    </div>
                </a>
                <a href="#" class="goods-one">
                    <div class="goods-one__img">
                        <img src="tmp/goods2.jpg" alt="">
                    </div>
                    <div class="goods-one__title">
                        Paroc Wired Mаt 80/100 AL1 огнезащита воздуховодов
                    </div>
                    <div class="goods-one__descr">
                        Прошивной базальтовый мат PAROC / ПАРОК  из каменной ваты, оснащенный армированной стальной сеткой, является одним из лучших материалов, как для теплозащиты, так и в качестве огнезащиты.
                    </div>
                </a>
                <a href="#" class="goods-one">
                    <div class="goods-one__img">
                        <img src="tmp/goods3.jpg" alt="">
                    </div>
                    <div class="goods-one__title">
                        Paroc Wired Mat 80/100 AluCoat базальтовый прошивной мат
                    </div>
                    <div class="goods-one__descr">
                        Прошивные маты, армированные сеткой. Между сеткой и матом - слой алюминиевой фольги, усиленной стекловолокнистой сеткой.
                    </div>
                </a>
            </div>

            <h2>ООО ПК "Теплый Стан" является официальным дилером продукции PAROC по Уральскому и Сибирскому Федеральным округам</h2>

            <p>ЗАО "ПАРОК" ( PAROC Финляндия ) занимается производством технической теплоизоляцией для промышленности, строительства жилых домов, судостроительной индустрии, а также для предприятий, занимающихся производством машин и оборудования по следующим направлениям:</p>

            <ul>
                <li>теплоизоляция для технологических трубопроводов, трубопроводов тепловых станций, систем отопления и водопроводов горячей воды в зданиях</li>
                <li>теплоизоляция водопроводов холодной воды</li>
                <li>пластмассовые покрытия из ПВХ для теплоизоляции труб</li>
                <li>теплоизоляция технологических и складских резервуаров</li>
                <li>теплоизоляция, звукоизоляция и противопожарная изоляция для вентиляционных каналов, огнезащита воздуховодов</li>
                <li>теплоизоляция и противопожарная изоляция (огнезащита) для дымовых каналов и выхлопных труб</li>
                <li>теплоизоляция для котлов, печей, теплообменников и теплотехнического оборудования</li>
                <li>теплоизоляция и противопожарная изоляция (огнезащита) для строительных деталей заводского изготовления, различных машин и оборудования</li>
            </ul>
            
            <div class="img-line">
                <img src="tmp/content-img.jpg" alt="">
                <img src="tmp/content-img2.jpg" alt="">
                <img src="tmp/content-img3.jpg" alt="">
            </div>

            <p>Теплоизоляционные материалы марки PAROC / ПАРОК изготавливаются из каменной ваты на основе базальтового волокна. Большинство стандартных изделий имеют максимальную рабочую температуру 7500С, а высокотемпературные изделия 9000С. У каменной ваты ( БАЗАЛЬТОВАЯ ТЕПЛОИЗОЛЯЦИЯ ) PAROC / ПАРОК температура спекания составляет 10000С.</p>

            <p>Каменная вата обладает высокой механической прочностью и химической стойкостью, не горит и обладает выраженными водоотталкивающими свойствами. Каменная вата обладает высокими теплоизоляционными свойствами в пределах широкого температурного диапазона.</p>

            <h2>Увеличивая рентабельность и повышая комфорт</h2>

            <p>Отопление, вентиляция и системы кондиционирования воздуха создают необходимые условия для комфортного и безопасного проживания и работы. Для того, чтобы эти системы работали с максимальной эффективностью, они должны быть изолированы с помощью соответствующих элементов технической изоляции.</p>

            <div class="content-bottom">
                <a href="#">По маркам</a>
            </div>

        </div>

    </div>


</div>