<div class="about">
    <div class="wrap">
        <div class="about-title">
            Основные<br>направления деятельности
        </div>
        <div class="main-services">
            <a href="#" class="main-service" style="background-image: url(tmp/service.jpg);">
                <div class="main-service__title">
                    Изготовление и поставка съемной теплоизоляции термочехлов
                </div>
            </a>
            <a href="#" class="main-service" style="background-image: url(tmp/service2.jpg);">
                <div class="main-service__title">
                    Монтаж теплоизоляции
                </div>
            </a>
            <a href="#" class="main-service" style="background-image: url(tmp/service3.jpg);">
                <div class="main-service__title">
                    Оптовые поставки теплоизоляции
                </div>
            </a>
            <a href="#" class="main-service" style="background-image: url(tmp/service4.jpg);">
                <div class="main-service__title">
                    Технические консультации, помощь в подборе теплоизоляции
                </div>
            </a>
        </div>

        <div class="about-title">
            Подбор теплоизоляции
        </div>

        <div class="tabs">
            <div class="tab-list">
                <div class="tab-list__one active">
                    <span>01</span>
                    <div>по маркам</div>
                </div>
                <div class="tab-list__one">
                    <span>02</span>
                    <div>по типу материала</div>
                </div>
                <div class="tab-list__one">
                    <span>03</span>
                    <div>по назначению</div>
                </div>
                <div class="tab-list__one">
                    <span>04</span>
                    <div>по области применения</div>
                </div>
            </div>
             <div class="tab-wrap">
                <div class="tab-one open">
                    <div class="col-list">
                        <div class="col-list-one">
                            <a href="#">PAROC</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">KAIFLEX</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">THERMAFLEX</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">ISOROLL</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">K-FLEX</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">AEROFLEX</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">ЭКОРОЛЛ</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">POLIFOAM</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">ТИЛИТ</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">URSA</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Isover</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">PAROC</a>
                        </div>
                    </div>
                </div>
                <div class="tab-one">
                    <div class="col-list col-list--2">
                        <div class="col-list-one">
                            <a href="#">Вспененный каучук</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Муллитокремнеземистый материал</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Муллитокремнеземистый материал</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Минеральная вата</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Базальтовая вата</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Металл</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Высокотемпературная изоляция</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Вспененный полиэтилен</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Стекловолокно</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Композитные материалы</a>
                        </div>
                    </div>
                </div>
                <div class="tab-one">
                    <div class="col-list col-list--2">
                        <div class="col-list-one">
                            <a href="#">Техническая теплоизоляция</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Строительная теплоизоляция</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Огнезащита</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Защитное покрытие</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Металлические оболочки</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Аксессуары для монтажа</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Высокотемпературная изоляция</a>
                        </div>
                    </div>
                </div>
                <div class="tab-one">
                    <div class="col-list col-list--2">
                        <div class="col-list-one">
                            <a href="#">Техническая теплоизоляция</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Строительная теплоизоляция</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Огнезащита</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Защитное покрытие</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Металлические оболочки</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Аксессуары для монтажа</a>
                        </div>
                        <div class="col-list-one">
                            <a href="#">Высокотемпературная изоляция</a>
                        </div>
                    </div>
                </div>
            </div>
                
        </div>
    </div>
</div>


